# Aspera Connect

/target
**/*/target
**/node_modules
**/dist
**/.DS_Store
**/*.log
apps/desktop/src-tauri/gen
.idea
.vscode
*.iml
.env
apps/android/local.properties
apps/android/.gradle
apps/android/**/build
.tools/
dist/
